.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

.bg-inverse {
  background-color: #0275d8; }

div.main {
  margin-top: 70px;
  margin-bottom: 60px; }

footer {
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  width: 100%; }

div.jumbotron {
  margin-top: 100px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.list-group {
  margin-bottom: 10px; }
